<%= form_tag({action: :create}, multipart: true) do %>

  <div>
    <%= label_tag :file %>
    <%= file_field_tag(:file) %>
  </div>
  <div>
    <%= label_tag :name %>
    <%= text_field(:upload, :name) %>
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_field(:upload, :description) %>
  </div>

  <%= submit_tag("Upload") %>

<% end %>